In [10]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv("data/stud.csv")

In [12]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [13]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [14]:
df.duplicated().sum()

0

In [15]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [16]:
df.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

In [17]:
numeric_category = [feature for feature in df.columns if df[feature].dtype != 'O']
Catogorical_category = [feature for feature in df.columns if df[feature].dtype == 'O']

In [18]:
numeric_category

['math_score', 'reading_score', 'writing_score']

In [19]:
Catogorical_category

['gender',
 'race_ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course']

In [20]:
df['Total_Salary'] = df['math_score'] + df['reading_score'] + df['writing_score']
df['average'] = df['Total_Salary']/3

In [21]:
df.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,Total_Salary,average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333

In [22]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,Total_Salary,average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [23]:
df.drop(columns=['Total_Salary','average'], axis=1 , inplace=True )

In [24]:
df.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

In [25]:
y = df['math_score']

In [26]:
X = df.drop('math_score', axis=1)

In [27]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [28]:
Categorical = X.select_dtypes(include='object').columns
Numerical = X.select_dtypes(exclude='object').columns

In [29]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_encoder = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",oh_encoder,Categorical),
        ("StandardScaler",numeric_transformer, Numerical)
    ]
)

In [30]:
X = preprocessor.fit_transform(X)

In [31]:
X.shape

(1000, 19)

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [33]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV

In [34]:
def metrics_score(y_pred,true_pred):
    r2score = r2_score(y_pred,true_pred)
    mae = mean_absolute_error(y_pred,true_pred)
    mse = mean_squared_error(y_pred,true_pred)
    return r2score,mae,mse

In [35]:
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [36]:

models = {
    "LinearRegression": LinearRegression(),
    "Ridge": Ridge(),
    "Lasso":Lasso(),
    "K-Nearest Neighbours": KNeighborsRegressor(),
    "DecisionTreeRegressor": DecisionTreeRegressor(),
    "RandomForestRegressor": RandomForestRegressor(),
    "ADABoostRegressor":AdaBoostRegressor(),
    "CatBoost":CatBoostRegressor(verbose=False),
    "xgBoost":XGBRegressor()
}

In [37]:
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mse,model_train_mae,model_train_r2 = metrics_score(y_train,y_train_pred)
    model_test_mse,model_test_mae,model_test_r2 = metrics_score(y_test,y_test_pred)

    print(list(models.values())[i])

    model_list.append(list(models.keys())[i])

    print("Model Training Data")
    print("- Mse of trainig Data : {:.4f}".format(model_train_mse))
    print("- Mae of trainig Data : {:.4f}".format(model_train_mae))
    print("- R2 Score of trainig Data : {:.4f}".format(model_train_r2))

    print("Model Test Data")
    print("- Mse of test Data : {:.4f}".format(model_test_mse))
    print("- Mae of test Data : {:.4f}".format(model_test_mae))
    print("- R2 Score of test Data : {:.4f}".format(model_test_r2))

LinearRegression()
Model Training Data
- Mse of trainig Data : 0.8743
- Mae of trainig Data : 4.2671
- R2 Score of trainig Data : 28.3487
Model Test Data
- Mse of test Data : 0.8803
- Mae of test Data : 4.2158
- R2 Score of test Data : 29.1167
Ridge()
Model Training Data
- Mse of trainig Data : 0.8743
- Mae of trainig Data : 4.2650
- R2 Score of trainig Data : 28.3378
Model Test Data
- Mse of test Data : 0.8806
- Mae of test Data : 4.2111
- R2 Score of test Data : 29.0563
Lasso()
Model Training Data
- Mse of trainig Data : 0.8071
- Mae of trainig Data : 5.2063
- R2 Score of trainig Data : 43.4784
Model Test Data
- Mse of test Data : 0.8253
- Mae of test Data : 5.1579
- R2 Score of test Data : 42.5064
KNeighborsRegressor()
Model Training Data
- Mse of trainig Data : 0.8555
- Mae of trainig Data : 4.5167
- R2 Score of trainig Data : 32.5776
Model Test Data
- Mse of test Data : 0.7838
- Mae of test Data : 5.6210
- R2 Score of test Data : 52.6066
DecisionTreeRegressor()
Model Training Data
- Mse of trainig Data : 0.9997
- Mae of trainig Data : 0.0187
- R2 Score of trainig Data : 0.0781
Model Test Data
- Mse of test Data : 0.7502
- Mae of test Data : 6.1800
- R2 Score of test Data : 60.7800
RandomForestRegressor()
Model Training Data
- Mse of trainig Data : 0.9767
- Mae of trainig Data : 1.8236
- R2 Score of trainig Data : 5.2602
Model Test Data
- Mse of test Data : 0.8479
- Mae of test Data : 4.7333
- R2 Score of test Data : 37.0213
AdaBoostRegressor()
Model Training Data
- Mse of trainig Data : 0.8474
- Mae of trainig Data : 4.8028
- R2 Score of trainig Data : 34.4038
Model Test Data
- Mse of test Data : 0.8462
- Mae of test Data : 4.7628
- R2 Score of test Data : 37.4301
<catboost.core.CatBoostRegressor object at 0x000002018B49DBE0>
Model Training Data
- Mse of trainig Data : 0.9589
- Mae of trainig Data : 2.4054
- R2 Score of trainig Data : 9.2578
Model Test Data
- Mse of test Data : 0.8516
- Mae of test Data : 4.6125
- R2 Score of test Data : 36.1037
XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)
Model Training Data
- Mse of trainig Data : 0.9955
- Mae of trainig Data : 0.6875
- R2 Score of trainig Data : 1.0146
Model Test Data
- Mse of test Data : 0.8278
- Mae of test Data : 5.0577
- R2 Score of test Data : 41.9037